* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.main-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main-wrapper p {
  min-height: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: linear-gradient(90deg, #ffe3e3 0%, #d9e7ff 100%);
  border-radius: 10px;
  font-size: 22px;
  margin: 10px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 600;
  font-style: italic;
}
button {
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #40b3a2;
  color: #000;
  font-size: 20px;
  outline: none;
  border: none;
  cursor: pointer;
  margin: 10px;
  border-radius: 10px;
}

button img {
  margin-right: 5px;
}
